<table class="head">
  <tr>
    <td class="head-ltitle">BORE(1)</td>
    <td class="head-vol">General Commands Manual</td>
    <td class="head-rtitle">BORE(1)</td>
  </tr>
</table>
<div class="manual-text">
<section class="Sh">
<h1 class="Sh" id="NAME"><a class="permalink" href="#NAME">NAME</a></h1>
<p class="Pp"><code class="Nm">bore</code> &#x2014; <span class="Nd">DNS query
    tool</span></p>
</section>
<section class="Sh">
<h1 class="Sh" id="SYNOPSIS"><a class="permalink" href="#SYNOPSIS">SYNOPSIS</a></h1>
<table class="Nm">
  <tr>
    <td><code class="Nm">bore</code></td>
    <td>[<code class="Fl">--encode</code> | <code class="Fl">--decode</code> |
      <code class="Fl">--trace</code> |
      <code class="Fl">--show-resolvers</code>] [<code class="Fl">--load</code>]
      [<code class="Fl">--dump</code>] [<code class="Fl">--host</code>
      <var class="Ar">host</var>] [<code class="Fl">--port</code>
      <var class="Ar">port</var>] [<code class="Fl">--timeout</code>
      <var class="Ar">timeout</var>] [<code class="Fl">-x</code> |
      <code class="Fl">--reverse</code>] [<code class="Fl">--class</code>
      <var class="Ar">class</var>] [<code class="Fl">--color</code>
      <var class="Ar">when</var>] [<var class="Ar">@host</var>]
      [<var class="Ar">name</var>] [<var class="Ar">type</var>]</td>
  </tr>
</table>
</section>
<section class="Sh">
<h1 class="Sh" id="DESCRIPTION"><a class="permalink" href="#DESCRIPTION">DESCRIPTION</a></h1>
<p class="Pp">Sends a DNS query and prints the response in zone format.</p>
<p class="Pp">If no <var class="Ar">host</var> is given,
    <code class="Nm">bore</code> uses your system&#x2019;s resolvers, which are
    gathered from GetAdaptersAddresses on Windows, dns_configuration_copy on
    macOS, or
    <a class="Xr" href="https://man.openbsd.org/resolv.conf.5">resolv.conf(5)</a>
    on other Unix-like platforms, falling back on localhost.</p>
<p class="Pp">Note that your platform&#x2019;s native name resolution probably
    supports other sources besides DNS, such as a
    <a class="Xr" href="https://man.openbsd.org/hosts.5">hosts(5)</a> file or
    mDNS (Bonjour). <code class="Nm">bore</code> only uses native resolution for
    <var class="Ar">host</var> itself, and otherwise only sends DNS queries, so
    the results may differ from how your system would resolve a name as a
    hostname.</p>
<p class="Pp">By default, <code class="Nm">bore</code> will follow four
  steps:</p>
<ol class="Bl-enum">
  <li>build a query based on the given arguments</li>
  <li>send the query to the given <var class="Ar">host</var></li>
  <li>receive a response from the given <var class="Ar">host</var></li>
  <li>decode and pretty-print the message</li>
</ol>
</section>
<section class="Sh">
<h1 class="Sh" id="OPTIONS"><a class="permalink" href="#OPTIONS">OPTIONS</a></h1>
<p class="Pp">The following options and positional arguments may be given in any
    order.</p>
<section class="Ss">
<h2 class="Ss" id="Positional_arguments"><a class="permalink" href="#Positional_arguments">Positional
  arguments</a></h2>
<dl class="Bl-tag">
  <dt><var class="Ar">@host</var></dt>
  <dd>Sends the query to <var class="Ar">host</var> (see
      <code class="Fl">--host</code>).</dd>
  <dt><var class="Ar">name</var> <span class="No">[default: .]</span></dt>
  <dd>Question name. Names are parsed in zone format, with dots separating
      labels unless escaped, \000 through \255 to escape an octet, and \x with
      any non-digit character &#x2018;<code class="Li">x</code>&#x2019; to
      escape that character. When <code class="Fl">--reverse</code> is given,
      <var class="Ar">name</var> is required, and should instead be an IPv4 or
      IPv6 address.
    <p class="Pp">A trailing dot <i class="Em">must</i> be added when querying
        top-level domains, otherwise they will be treated as a
        <var class="Ar">type</var> (and probably fail). Names starting with
        &#x2018;<code class="Li">@</code>&#x2019; <i class="Em">must</i> be
        escaped, otherwise they will be treated as a
        <var class="Ar">@host</var>.</p>
  </dd>
  <dt><var class="Ar">type</var> <span class="No">[default: A]</span></dt>
  <dd>Question type. The default is &#x2018;<code class="Li">PTR</code>&#x2019;
      if <code class="Fl">--reverse</code> is given, or
      &#x2018;<code class="Li">A</code>&#x2019; if a <var class="Ar">name</var>
      is given, or &#x2018;<code class="Li">NS</code>&#x2019; otherwise. For
      unknown types, use &#x2018;<code class="Li">TYPE</code>&#x2019; followed
      by the type number, e.g.
      &#x2018;<code class="Li">type65535</code>&#x2019;.</dd>
</dl>
</section>
<section class="Ss">
<h2 class="Ss" id="Mode_options"><a class="permalink" href="#Mode_options">Mode
  options</a></h2>
<dl class="Bl-tag">
  <dt id="encode"><a class="permalink" href="#encode"><code class="Fl">--encode</code></a></dt>
  <dd>Writes the raw query to stdout, instead of sending it (step 1 only).</dd>
  <dt id="load"><a class="permalink" href="#load"><code class="Fl">--load</code></a></dt>
  <dd>Reads the raw query from stdin, instead of building one (skip step
    1).</dd>
  <dt id="dump"><a class="permalink" href="#dump"><code class="Fl">--dump</code></a></dt>
  <dd>Writes the raw response to stdout, instead of pretty-printing it (skip
      step 4).</dd>
  <dt id="decode"><a class="permalink" href="#decode"><code class="Fl">--decode</code></a></dt>
  <dd>Reads a raw message from stdin, then decodes and pretty-prints it (step 4
      only).</dd>
  <dt id="trace"><a class="permalink" href="#trace"><code class="Fl">--trace</code></a></dt>
  <dd>Resolves iteratively, rather than recursively. This involves clearing the
      RD flag in the query, then retrying that query with the servers in the
      authority section until we receive a response with the AA flag set.</dd>
  <dt id="show-resolvers"><a class="permalink" href="#show-resolvers"><code class="Fl">--show-resolvers</code></a></dt>
  <dd>Prints details about your system&#x2019;s resolvers, and a list of hosts
      we would actually send queries to (after taking
      <code class="Fl">--host</code> and <code class="Fl">--port</code> into
      account), without doing anything else.</dd>
</dl>
</section>
<section class="Ss">
<h2 class="Ss" id="Network_options"><a class="permalink" href="#Network_options">Network
  options</a></h2>
<dl class="Bl-tag">
  <dt id="host"><a class="permalink" href="#host"><code class="Fl">--host</code></a>
    <var class="Ar">host</var></dt>
  <dd>Sends the query to <var class="Ar">host</var>, instead of your
      system&#x2019;s resolvers. If <var class="Ar">host</var> is a domain name,
      we use your platform&#x2019;s native name resolution to turn it into a
      list of IP addresses.</dd>
  <dt id="port"><a class="permalink" href="#port"><code class="Fl">--port</code></a>
    <var class="Ar">port</var> <span class="No">[default: 53]</span></dt>
  <dd>Sends the query to the given <var class="Ar">port</var>. The default is
      port 53, or on macOS, the custom port (if any) that each of your
      system&#x2019;s resolvers and nameservers is configured to use.</dd>
  <dt id="tcp"><a class="permalink" href="#tcp"><code class="Fl">--tcp</code></a></dt>
  <dd>Sends the query over TCP, rather than UDP.</dd>
  <dt id="timeout"><a class="permalink" href="#timeout"><code class="Fl">--timeout</code></a>
    <var class="Ar">timeout</var> <span class="No">[seconds; default:
    5]</span></dt>
  <dd>Give up on waiting for the query after <var class="Ar">timeout</var>
      seconds, and if there are more hosts available, try the next one. This
      timeout spans the whole query attempt, so the query needs to be sent
      <a class="permalink" href="#and"><i class="Em" id="and">and</i></a> a
      response received within that time.</dd>
</dl>
</section>
<section class="Ss">
<h2 class="Ss" id="Building_queries"><a class="permalink" href="#Building_queries">Building
  queries</a></h2>
<dl class="Bl-tag">
  <dt id="x"><a class="permalink" href="#x"><code class="Fl">-x</code></a> |
    <a class="permalink" href="#reverse"><code class="Fl" id="reverse">--reverse</code></a></dt>
  <dd>Makes a reverse DNS query, converting <var class="Ar">name</var>
      (required) from an IP address to a domain name in
      &#x2018;<code class="Li">in-addr.arpa.</code>&#x2019; (IPv4) or
      &#x2018;<code class="Li">ip6.arpa.</code>&#x2019; (IPv6).</dd>
  <dt id="class"><a class="permalink" href="#class"><code class="Fl">--class</code></a>
    <var class="Ar">class</var> <span class="No">[default: IN]</span></dt>
  <dd>Question class. For unknown classes, use
      &#x2018;<code class="Li">CLASS</code>&#x2019; followed by the class
      number, e.g. &#x2018;<code class="Li">class65535</code>&#x2019;.</dd>
</dl>
</section>
<section class="Ss">
<h2 class="Ss" id="Other_options"><a class="permalink" href="#Other_options">Other
  options</a></h2>
<dl class="Bl-tag">
  <dt id="color"><a class="permalink" href="#color"><code class="Fl">--color</code></a>
    &#x27E8;<var class="Ar">auto</var> | <var class="Ar">never</var> |
    <var class="Ar">always</var>&#x27E9; <span class="No">[default:
    auto]</span></dt>
  <dd>Controls when to use colours or other terminal styles. In
      <var class="Ar">auto</var> mode, we decide whether or not to use them as
      follows:
    <ul class="Bl-bullet">
      <li>no, if standard output is not a tty (Unix) or console (Windows)</li>
      <li>no, if the environment has TERM=dumb (all platforms)</li>
      <li>no, if the environment has no TERM (Unix)</li>
      <li>yes, otherwise</li>
    </ul>
  </dd>
</dl>
</section>
</section>
<section class="Sh">
<h1 class="Sh" id="SEE_ALSO"><a class="permalink" href="#SEE_ALSO">SEE
  ALSO</a></h1>
<p class="Pp"><a class="Xr" href="https://man.openbsd.org/hosts.5">hosts(5)</a>,
    <a class="Xr" href="https://man.openbsd.org/resolv.conf.5">resolv.conf(5)</a></p>
</section>
<section class="Sh">
<h1 class="Sh" id="AUTHORS"><a class="permalink" href="#AUTHORS">AUTHORS</a></h1>
<p class="Pp"><code class="Nm">bore</code> is written and maintained by
    <span class="An">Delan Azabani</span>
    &lt;<a class="Mt" href="mailto:delan@azabani.com">delan@azabani.com</a>&gt;.</p>
</section>
</div>
<table class="foot">
  <tr>
    <td class="foot-date">October 8, 2022</td>
    <td class="foot-os">NixOS</td>
  </tr>
</table>
