/* defaults from mandoc 1.14.5 */
    table.head, table.foot { width: 100%; }
    td.head-rtitle, td.foot-os { text-align: right; }
    td.head-vol { text-align: center; }
    /* div.Pp { margin: 1ex 0ex; } */
    div.Nd, div.Bf, div.Op { display: inline; }
    span.Pa, span.Ad { font-style: italic; }
    span.Ms { font-weight: bold; }
    dl.Bl-diag > dt { font-weight: bold; }
    code.Nm, code.Fl, code.Cm, code.Ic, code.In, code.Fd, code.Fn,
    code.Cd { font-weight: bold; font-family: inherit; }
/* end defaults */

* {
    margin-top: 0;
    margin-bottom: 0;
}

* + * {
    margin-top: 1ex;
}

:root {
    font-family: Helvetica Neue LT Std, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-size: 1em;
    margin-bottom: 1ex;
    color: rebeccapurple;
}

h1 {
    padding-top: 1ex;
    border-top: 1px solid rebeccapurple;
}

a[href] {
    color: unset;
}

#SYNOPSIS ~ * {
    margin-top: 0;
}

#SYNOPSIS ~ table td {
    vertical-align: top;
}
